{% extends 'dance_db_app/blocks/page_base.html' %}

{% block page_title %}Добавление трека{% endblock page_title %}

{% block page_content %}

<div class="container-fluid">
    <form action="{% url 'view_add_track' %}" method="POST">
        {% csrf_token %}
        <fieldset>
            <label class="form-label" for="artist_id">Артиста</label>
            <select class="form-select" aria-label="Default select example" name="artist_id" required>
                {% for artist in artists %}
                <option value="{{artist.pk}}">{{artist.name}}</option>
                {% endfor %}
            </select>
            <br>
            <label class="form-label" for="track_title">Название трека</label>
            <input class="form-control" type="text" name="track_title" required>
            <br>
            <label class="form-label" for="track_duration">Длительность трека (сек)</label>
            <input class="form-control" type="number" name="track_duration" required>
            <br>
            <input type="submit" class="btn btn-primary">
        </fieldset>
    </form>

    {% if msg %}<h4 class="mt-4">{{ msg }}</h4>{% endif %}
</div>
    

{% endblock page_content %}