{% extends 'dance_db_app/blocks/page_base.html' %}

{% block page_title %}Список артистов{% endblock page_title %}

{% block page_content %}

<table class="table table-hover">
    <tr>
        <th>Имя</th>
        <th>День рождения</th>
        <th>Страна</th>
    </tr>
    {% for artist in artists %}
    <tr style="cursor: pointer" onclick="window.location='{% url 'view_artist' artist.pk %}'">
        <td>{{artist.name}}</td>
        <td>{{artist.birthday}}</td>
        <td>{{artist.country}}</td>
    </tr>
    {% endfor %}
</table>
    

{% endblock page_content %}