{% extends 'dance_db_app/blocks/page_base.html' %}

{% block page_title %}Карточка артиста{% endblock page_title %}

{% block page_content %}

<div class="container-fluid">
    <div>
        <span class="h3 align-middle">{{artist.name}}</span>
        <img class="ms-2 float-top align-middle" src="https://flagsapi.com/{{artist.country}}/flat/32.png">
    </div>
    <p>День рождения: {{artist.birthday}}</p>
    <p>Треки:</p>
    <table class="table table-hover">
        <tr>
            <th>Название</th>
            <th>Длина</th>
        </tr>
        {% for track in artist.track_set.all %}
        <tr style="cursor: pointer" onclick="window.location='{% url 'view_track' track.pk %}'">
            <td>{{track.title}}</td>
            <td>{{track.duration}}</td>
        </tr>
        {% endfor %}
    </table>
        
</div>
    

{% endblock page_content %}