{% extends 'dance_db_app/blocks/page_base.html' %}

{% block page_title %}Список танцев{% endblock page_title %}

{% block page_content %}

<div class="container-fluid text-center">
    <table class="table">
        <tr>
            <th>Название</th>
            <th>Сложность</th>
            <th>Трек</th>
        </tr>
        {% for dance in dances %}
        <tr>
            <td>{{dance.title}}</td>
            <td>{{dance.difficulty}}</td>
            <td>{{dance.track.artist.name}} - {{dance.track.title}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
    

{% endblock page_content %}