{% extends 'dance_db_app/blocks/page_base.html' %}

{% block page_title %}Добро пожаловать!{% endblock page_title %}

{% block page_content %}

<div class="container-fluid text-center">
    <div class="row">
        <div class="col">
            <div class="mb-4">
            <h3 class="d-inline">Артисты</h3>
            <a href="{% url 'view_add_artist' %}" style="link-primary; font-size: 1.75rem" class="d-inline bi bi-plus-square ms-2"></a>
            </div>
            {% if artists %}
                {% for artist in artists %}
                    <div class="mb-4 mx-4">
                        {% include "dance_db_app/blocks/snippet_artist.html" with artist=artist artist_id=artist.pk%}
                    </div>
                {% endfor %}
            {% endif %}
            <a href="{% url 'view_all_artists' %}" class="link-primary h3">Показать все</a>
        </div>
        <div class="col">
            <div class="mb-4">
                <h3 class="d-inline">Треки</h3>
                <a href="{% url 'view_add_track' %}" style="link-primary; font-size: 1.75rem" class="d-inline bi bi-plus-square ms-2"></a>
                </div>
            {% if tracks %}
                {% for track in tracks %}
                    <div class="mb-4 mx-4">
                        {% include "dance_db_app/blocks/snippet_track.html" with track=track track_id=track.pk%}
                    </div>
                {% endfor %}
            {% endif %}
            <a href="{% url 'view_all_tracks' %}" class="link-primary h3">Показать все</a>
        </div>
        <div class="col">
            <div class="mb-4">
                <h3 class="d-inline">Танцы</h3>
                <a href="{% url 'view_add_dance' %}" style="link-primary; font-size: 1.75rem" class="d-inline bi bi-plus-square ms-2"></a>
                </div>
            {% if dances %}
                {% for dance in dances %}
                    <div class="mb-4 mx-4">
                        {% include "dance_db_app/blocks/snippet_dance.html" with dance=dance dance_id=dance.pk%}
                    </div>
                {% endfor %}
            {% endif %}
            <a href="{% url 'view_all_dances' %}" class="link-primary h3">Показать все</a>
        </div>
    </div>
</div>
    

{% endblock page_content %}