{% extends 'dance_db_app/blocks/page_base.html' %}

{% block page_title %}Список треков{% endblock page_title %}

{% block page_content %}

<table class="table table-hover">
    <tr>
        <th>Артист</th>
        <th>Название</th>
    </tr>
    {% for track in tracks %}
    <tr style="cursor: pointer" onclick="window.location='{% url 'view_track' track.pk %}'">
        <td>{{track.artist.name}}</td>
        <td>{{track.title}}</td>
    </tr>
    {% endfor %}
</table>
    

{% endblock page_content %}